<div class="app__main_center login">
  <mat-card class="mat-elevation-z">
    <form (ngSubmit)="onSubmit($event)" [formGroup]="login">
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Please enter email"
            formControlName="email"
            type="email"
            autocomplete="email"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            placeholder="Please enter password"
            formControlName="password"
            type="password"
            autocomplete="current-password"
          />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
      >
        <mat-icon>search</mat-icon>
        Login
      </button>
    </form>
  </mat-card>
</div>
