<app-breadcrumbs></app-breadcrumbs>
<div class="add-course">
  <form [formGroup]="course" (ngSubmit)="onSave()">
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          formControlName="title"
          required
        />
        <mat-error *ngIf="hasError('title', 'required')">
          Title is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasError('title', 'maxlength')">
          Title maximum length must be <strong>{{getError('title', 'maxlength').requiredLength}}</strong> characters.
          Please reduce its current length of <strong>{{getError('title', 'maxlength').actualLength}}</strong> by <strong>{{getError('title', 'maxlength').actualLength - getError('title', 'maxlength').requiredLength}}</strong> characters.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          required
        ></textarea>
        <mat-error *ngIf="hasError('description', 'required')">
          Description is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasError('description', 'maxlength')">
          Description maximum length must be <strong>{{getError('description', 'maxlength').requiredLength}}</strong> characters.
          Please reduce its current length of <strong>{{getError('description', 'maxlength').actualLength}}</strong> by <strong>{{getError('description', 'maxlength').actualLength - getError('description', 'maxlength').requiredLength}}</strong> characters.
        </mat-error>
      </mat-form-field>
    </div>
    <app-course-date [formControl]="creationDate"></app-course-date>
    <app-course-duration [formControl]="durationMin"></app-course-duration>
    <app-course-authors [formControl]="authors"></app-course-authors>
    <!-- <div>
      <mat-form-field>
        <mat-chip-list #authorsList>
          <mat-chip
            *ngFor="let author of courseAuthors"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(author)"
          >
            {{author.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Authors"
            #authorsInput
            [formControl]="authors"
            [matAutocomplete]="auto"
            [matChipInputFor]="authorsList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let author of filteredAllAuthors" [value]="author.id">
          {{author.name}}
        </mat-option>
      </mat-autocomplete>
    </div> -->
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loaderService.isLoading"
    >
      Save
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </form>
</div>
