<app-breadcrumbs></app-breadcrumbs>
<div class="course">
  <form [formGroup]="course" (ngSubmit)="onSave()">
    <section>
      <mat-form-field>
        <input
          matInput
          placeholder="Title"
          formControlName="title"
          required
        />
        <mat-error *ngIf="hasError('title', 'required')">
          Title is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasError('title', 'maxlength')">
          Title maximum length must be <strong>{{getError('title', 'maxlength').requiredLength}}</strong> characters.
          Please reduce its current length of <strong>{{getError('title', 'maxlength').actualLength}}</strong> by <strong>{{getError('title', 'maxlength').actualLength - getError('title', 'maxlength').requiredLength}}</strong> characters.
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          required
        ></textarea>
        <mat-error *ngIf="hasError('description', 'required')">
          Description is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="hasError('description', 'maxlength')">
          Description maximum length must be <strong>{{getError('description', 'maxlength').requiredLength}}</strong> characters.
          Please reduce its current length of <strong>{{getError('description', 'maxlength').actualLength}}</strong> by <strong>{{getError('description', 'maxlength').actualLength - getError('description', 'maxlength').requiredLength}}</strong> characters.
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <app-course-date [formControl]="course.controls.creationDate"></app-course-date>
    </section>
    <section>
      <app-course-duration [formControl]="course.controls.durationMin"></app-course-duration>
    </section>
    <section>
      <app-course-authors [formControl]="course.controls.authors"></app-course-authors>
    </section>
    <button
      type="submit"
      mat-raised-button
      color="primary"
    >
      Save
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </form>
</div>
