<app-breadcrumbs></app-breadcrumbs>
<div class="add-course" [formGroup]="course">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>
  </div>
  <app-course-date [formControl]="creationDate"></app-course-date>
  <app-course-duration [formControl]="durationMin"></app-course-duration>
  <div>
    <mat-form-field>
      <mat-chip-list>
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="text" matInput [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option [value]="Apple">Apple</mat-option>
      <mat-option [value]="Banana">Banana</mat-option>
    </mat-autocomplete>
  </div>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
    [disabled]="loaderService.isLoading"
  >
    Save
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
</div>
