<app-breadcrumbs></app-breadcrumbs>
<div class="add-course" *ngIf="course" [formGroup]="course">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>
  </div>
  <app-course-date [formControl]="creationDate"></app-course-date>
  <app-course-duration [formControl]="durationMin"></app-course-duration>
  <button
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
  >
    Save
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
</div>
